@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100hv;
  width: 100%;
  background: linear-gradient(to bottom,#00CCCC 0%, #6699FF 100%);
}
.wrapper{
  margin: 120px auto;
  max-width: 400px;
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 25px;
}
.todolist li{
  list-style: none;
}